body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.opening {
  height: 100vh; }
  .opening .top {
    width: 100%;
    background-color: #ffca28;
    height: 50%;
    display: grid; }
  .opening .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%; }
    .opening .bottom .triangle-down {
      height: 0;
      width: 0;
      border-top: 35px solid #ffca28;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent; }
    .opening .bottom img {
      width: 60%; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%; }
    .main .section img {
      width: 100px; }
    .main .section p {
      font-size: 40px;
      padding-top: 10px;
      padding-left: 10px; }
