$yellow: #ffca28;
$green: #8bc34a;
$red: #ff825c;
$tan: #fff9c5;
$blue: #8fe5f7;

$triangle-height: 35px;
$triangle-width: 30px;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.triangle-down {
    height: 0;
    width: 0;
    border-top: $triangle-height solid transparent;
    border-right: $triangle-width solid transparent;
    border-left: $triangle-width solid transparent;
}

.opening {
    * {
    }

    height: 100vh;

    .top {
        width: 100%;
        background-color: $yellow;
        height: 50%;
        display: grid;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 50%;

        .triangle-down {
            border-top-color: $yellow;
        }

        img {
            width: 60%;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            margin-top:-$triangle-height
        }

        .triangle-down {
            z-index: 2;
            align-self: center;
        }

        img {
            align-self: center;
            max-height: 100px;
            max-width: 100px;
            width: 40%;
        }

        p {
            width: 60%;
            font-size: 40px;
            padding-left: 15px;
        }
    }

    .section:nth-of-type(2) {
        .bar {
            background-color: $yellow;
        }

        .triangle-down {
            border-top-color: $yellow;
        }
    }

    .section:nth-of-type(3) {
        .bar {
            background-color: $blue;
        }

        .triangle-down {
            border-top-color: $blue;
        }
    }

    .section:nth-of-type(4) {
        .bar {
            background-color: $green;
        }

        .triangle-down {
            border-top-color: $green;
        }
    }

    .section:nth-of-type(5) {
        .bar {
            background-color: $tan;
        }

        .triangle-down {
            border-top-color: $tan;
        }
    }

    .section:nth-of-type(6) {
        .bar {
            background-color: $red;
        }

        .triangle-down {
            border-top-color: $red;
        }
    }
}
