$yellow: #ffca28;
$green: #8bc34a;
$red: #ff825c;
$tan: #fff9c5;
$blue: #8fe5f7;

body {
    margin: 0;
}

.opening {
    * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    height: 100vh;
    .top {
        width: 100%;
        background-color: $yellow;
        height: 50%;
    }
    .bottom {
        height: 50%;
        img {
            width: 60%;
        }
    }
}